@import 'tailwindcss';

*{
  font-family: 'system-ui', 'helvetica', 'arial';
}

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  background: #000;
}
